



<h1>ユーザ編集ページ</h1>


<%= render "form" , admin_form_name: "更新する" , user: @user , admin_url: admin_user_path(@user) , user_form_id: "update-user" %>

<%= link_to "戻る", admin_users_path , id: "back" %>